*{
  background-image: url("IMG-20231230-WA0019.jpg") 
  
  
}
#D1{
  background-color: rgba(82, 86, 156, 1) ;
  height: 70px;
  width: 100%;
  border: 2px solid;
  border-radius: 10px;
  text-decoration: none;
 
}
#A1{
  text-decoration: none;
  margin-left: 1px;
  color: rgba(2, 255, 241, 1);
}
#search{

  height: 30px;
  width: 275px;
  border: 2px solid rgba(155, 204, 214, 1);
  border-radius: 5px;
  margin: 5px 5px;
  
}
::placeholder{
  color:rgba(2, 255, 241, 1);
  font-family: monospace;
  
}
#D2{
  height: 550px;
  width: 100%;
  border: 2px solid black;
  border-radius: 10px;
  margin-top: 25px;
  /*text-align: center;*/
}
.sub{
  background-color: rgba(82, 86, 156, 1);
  height: 50px;
  width: 95%;
  border: 2px solid;
  border-radius: 10px;
  margin: 14px 5px;
  font-size: 20px;
  text-align: center;
  
}
h2{
  text-align: center;
  color: #C818B6;
}
a{
  text-decoration: none;
  color: rgba(23, 244, 208, 1)
}
